
#theword{
	margin-top: 24%;
	display: inline-block;
}

#userinput{
	width: 30px;
	height: 20px;
}
.boxcss{
	height: 40px;
	width: 40px;
	border-bottom: 2px solid;
	display: inline-block;
	margin: 5px;
	text-align: center;
	vertical-align: middle;
}

#hints{
	height: 200px;
	height: 45px;
	border: 1px solid;
	margin-top: 6px;
}
#usedletters{
	width: 300px;
	height:90px;
	display: inline-block;
	border: 1px solid;
	margin: 5px auto;
}

#hider{
	display: none;
	margin: 10px auto;
	font-size: 25pt;
	text-align: center;
}








